<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../static/css/style.css">
  <!-- Jquery -->
  <script src="../static/js/jquery.js"></script>
  <script src="../static/js/main.js"></script>
  <script src="../static/js/snake.js"></script>
  <script type="text/javascript" src="../static/js/socket.js"></script>
</head>

<body>
  <h1> br00t </h1>
  <h3> don't you dare leave </h3>
  <h3 id="emit"></h3>
  <!-- Lets make a simple snake game -->
  <canvas id="canvas" width="450" height="450"></canvas>
</body>

</html>