<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../static/css/style.css">
  <!-- Jquery -->
  <script src="../static/js/jquery.js"></script>
  <script src="../static/js/main.js"></script>
  <script src="../static/js/snake.js"></script>
  <script type="text/javascript" src="../static/js/socket.js"></script>
</head>

<body>
    <div id="header">
      <h1> br00t </h1>
      <h3> don't you dare leave </h3>
    </div>

    <button id="toggle-mon" toggle="hide()">

    </button>

    <div id="payload">
      <h3 id="emit"></h3>
    </div>

    <div id="game">
      <!-- Lets make a simple snake game -->
      <canvas id="canvas" width="400" height="400"></canvas>
    </div>

    <div id="monitoring-panel">
      <h3>SERVER-CLIENT MONITOR</h3>
      <div id="line"></div>
      <h3 id="emit"></h3>
    </div>

</body>

</html>