html {

}

.hide {
	display:none;
}

.show {
	display:inline;
}

body {
	text-align:center;
	font-family:'Quantico';
	color:white;
	background: #000;
	position:fixed;
	margin:0 auto 0 auto;
	width:auto;
	display:inline;
	float:left;
	height:100%;
}

#header {
    position:fixed;
    left:0; right:0;
    height: 100px;
    width:100%;
    border:0px 0px 1px 0px solid #fff;

}

#toggle-mon {
	width:15px;
	height:15px;
	background:#555;
	float:left;
	top:0;
	left:0;
}

#monitoring-panel {
    position:absolute;
    left:0;
    top:100px;
    bottom: 0;
    width: 250px;
    background:#555;
    text-align:left;
	padding-left:5px;
	display:block;
	float:left;
	overflow:scroll;

}

#monitoring-panel h3 {
	text-align:center;
}


#line {
	height:1px;
	width:100%;
	left:0;
	right:0;
	margin:0;
	background:#000;
	position:absolute;
}

#game {
	width:auto;
    position: fixed;
    left:20%;
    top:100px;
    right:0;
    bottom:0;
    margin:100 auto 100 auto;
    display:block;
}

#canvas {
	left:auto;
	right:auto;
}

h1, h2, h3 {
	padding:0;
	margin:0;
}

/* THIS IS ALL WHAT THE CLIENT SEES 

.container {
  position: fixed;
  background: #000;
  width: 100%;
  text-align: center;
}





#header {
	height:150px;
	top:0;
}

#payload {
	bottom:0px;
}

#game {
	top:150px;
	height:600px;
}

/* MONITORING PANEL */
